/**
 * @file
 * Biography style
 *
 */

#page {
  max-width: 960px;
  margin: 0 auto;
}
@media all and (min-width: 480px) {
  #content,
  #sidebar-second {
    float: left; /* LTR */
    display: inline;
    position: relative;
  }
  #content {
    width: 100%;
  }
}

@media all and (min-width: 480px) and (max-width: 959px) {

  body.sidebar-second #content {
    width: 67%;
  }

  #sidebar-second {
    width: 33%;
    float: right; /* LTR */
  }

}

@media all and (min-width: 960px) {

  body.sidebar-second #content,
  .column1   {
    width: 74%;
  }
  #sidebar-second,
  .column2  {
    float: right; /* LTR */
    width: 23%;
  }
}

.section {
  margin: 10px;
}

#logo {
  border: 0.5em solid #1D5496;
  float: left;
  padding: 1em;
  margin: 0 0.5em 0 0;
}
#logo img {
  max-height: 155px;
}

/**** General styling ****/
h2 {
  border-bottom: 2px solid #1d5496;
  width: 88%;
}
h3 {
  margin: 0.7em 0 0.4em 0;
  font-weight: 800;
  width: 75%;
  border-bottom: 1px solid #aaa;
}
dl {
  margin: 0.4em 0;
}
dt {
  font-weight: 700;
  border-left: 1px dashed #ccc;
  padding: 0 0 0 0.2em;
  margin: 0.4em 4em 0 0; 
  width: 30%;
}
dd {
  border-bottom: 1px dashed #f5f5f5;
  border-left: 1px dashed #eee;
  border-radius: 0 0 0 5px;
  margin: 0 4em 0 0;
  padding: 0 0 0 3em;
}

tr.even {
  background-color: #fff;
  border-bottom: 1px solid #CCCCCC;
  padding: 0.1em 0.6em;
}
tr.odd {
  background-color: #EEEEEE;
  border-bottom: 1px solid #CCCCCC;
  padding: 0.1em 0.6em;
}
td {
  padding: 0.4em; 
}

/**** Drupal element styling ****/
#page-wrapper {
  background: url('images/bar.png') right top repeat-y;
}
#page {
  background: url('images/sidebar.png') right top repeat-y;
}
#navigation {
  background: #1D5496;
}
#name-and-slogan {
  float: left;
  margin: 2em 0 0 2em;
}
#bio-name h1 {
  margin: 0em 0;
  line-height: 1.5em;
}
#bio-name h1 a {
  font-size: 1.5em;
  text-decoration: none;
  line-height: 1.5em;
}

#site-slogan {
  font-size: 1.5em;
  color: #555;
  font-style: italic;
}
h1#site-name {
  margin: 1.1em 0 0 0;
}
#site-name a {
  font-size: 0.7em;
  text-decoration: none;
  color: #0000ff;
}

#navigation li a {
  color: #fff;
  line-height: 30px;
  margin: 0 11px;
  text-decoration: none;
}
#navigation li a.active,
#navigation li a:hover {
  color: #b5cdff;
}
hr.footer {
  width: 99%;
  background: #1D5294;
  height: 11px;
  border: 1px dashed #B7D7FF;
}
.sidebar {
  color: #B7D7FF;
}
.sidebar a {
  color: #fff;
}
.sidebar h2 {
  color: #D8E9FF;
}
.nocredit {
  display: none;
}
